.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #242323e8;
  height: 250px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 50%;
}
h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.watch {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.watch span {
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  color: #fff;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
}
.btn button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background: #742f2f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 250;
  line-height: 10px;
}
